﻿@*@model EntitesViewModel.ViewModel.StudentViewModel*@

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin Free Bootstrap Admin Dashboard Template</title>
    <!-- plugins:css -->
    @*<link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
        <link rel="stylesheet" href="vendors/css/vendor.bundle.addons.css">*@

    <link rel="stylesheet" href="~/Content/Theme_Files/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Content/Theme_Files/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Content/Theme_Files/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/Theme_Files/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Content/Theme_Files/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <a class="" href="index.html">
                    <img src="~/Content/Theme_Files/images/logo.svg" alt="logo" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="index.html">
                    <img src="~/Content/Theme_Files/images/logo-mini.svg" alt="logo" />
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <h4>Home</h4>
                            @*<span class="badge badge-primary ml-1">New</span>*@
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <h4>Student History</h4>
                            @*<span class="badge badge-primary ml-1">New</span>*@
                        </a>
                    </li>

                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown">
                        @*<a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-file-document-box"></i>
                                <span class="count">7</span>
                            </a>*@
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                            @*<div class="dropdown-item">
                                    <p class="mb-0 font-weight-normal float-left">
                                        You have 7 unread mails
                                    </p>
                                    <span class="badge badge-info badge-pill float-right">View all</span>
                                </div>*@
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/Content/Theme_Files/images/faces/face4.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium text-dark">
                                        David Grey
                                        <span class="float-right font-weight-light small-text">1 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        The meeting is cancelled
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/Content/Theme_Files/images/faces/face2.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium text-dark">
                                        Tim Cook
                                        <span class="float-right font-weight-light small-text">15 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        New product launch
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/Content/Theme_Files/images/faces/face3.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium text-dark">
                                        Johnson
                                        <span class="float-right font-weight-light small-text">18 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        Upcoming board meeting
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        @*<a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                                <i class="mdi mdi-bell"></i>
                                <span class="count">4</span>
                            </a>*@
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                            <a class="dropdown-item">
                                <p class="mb-0 font-weight-normal float-left">
                                    You have 4 new notifications
                                </p>
                                <span class="badge badge-pill badge-warning float-right">View all</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-success">
                                        <i class="mdi mdi-alert-circle-outline mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-medium text-dark">Application Error</h6>
                                    <p class="font-weight-light small-text">
                                        Just now
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-warning">
                                        <i class="mdi mdi-comment-text-outline mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-medium text-dark">Settings</h6>
                                    <p class="font-weight-light small-text">
                                        Private message
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-info">
                                        <i class="mdi mdi-email-outline mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-medium text-dark">New user registration</h6>
                                    <p class="font-weight-light small-text">
                                        2 days ago
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-none d-xl-inline-block">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <span class="profile-text">Hello, Shubham Dhanetia !</span>
                            @*<img class="img-xs rounded-circle" src="~/Content/Theme_Files/images/student.jpg" alt="Profile image">*@
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            <a class="dropdown-item p-0">
                                <div class="d-flex border-bottom">
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                        <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                                    </div>
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                                        <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                                    </div>
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                        <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item mt-2">
                                Manage Accounts
                            </a>
                            <a class="dropdown-item">
                                Change Password
                            </a>
                            <a class="dropdown-item">
                                Check Inbox
                            </a>
                            <a class="dropdown-item">
                                Sign Out
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <div class="nav-link">
                            <div class="user-wrapper">
                                @*<div class="profile-image">
                                        <img src="~/Content/Theme_Files/images/student.jpg" alt="profile image">
                                    </div>*@
                                <div class="text-wrapper">
                                    <p class="profile-name">Shubham Dhanetia</p>
                                    <div>
                                        <small class="designation text-muted">Student</small>
                                        <span class="status-indicator online"></span>
                                    </div>
                                </div>
                            </div>
                            @*<button class="btn btn-success btn-block">
                                    New Project
                                    <i class="mdi mdi-plus"></i>
                                </button>*@
                        </div>
                    </li>
                    <li class="nav-item" style="">
                        <a class="nav-link" href="/Student/Index">
                            <i class="menu-icon mdi mdi-television"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Student/ViewHistory">
                            <i class="menu-icon mdi mdi-history"></i>
                            <span class="menu-title">View History</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Student/ChangePassword">
                            <i class="menu-icon mdi mdi-settings"></i>
                            <span class="menu-title">Change Password</span>
                        </a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/Student/ChangePassword">
                            <i class="menu-icon mdi mdi-settings"></i>
                            <span class="menu-title"  style="color:orangered;font-weight:bold">View My Subjects</span>
                        </a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                                <i class="menu-icon mdi mdi-content-copy"></i>
                                <span class="menu-title">Basic UI Elements</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="ui-basic">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
                                    </li>
                                </ul>
                            </div>
                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="pages/forms/basic_elements.html">
                            <i class="menu-icon mdi mdi-inbox"></i>
                            <span class="menu-title">Inbox</span>
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @*<div class="row purchace-popup">
                            <div class="col-12">
                                <span class="d-flex alifn-items-center">
                                    <p>Like what you see? Check out our premium version for more.</p>
                                    <a href="https://github.com/BootstrapDash/StarAdmin-Free-Bootstrap-Admin-Template" target="_blank" class="btn ml-auto download-button">Download Free Version</a>
                                    <a href="https://www.bootstrapdash.com/product/star-admin-pro/" target="_blank" class="btn purchase-button">Upgrade To Pro</a>
                                    <i class="mdi mdi-close popup-dismiss"></i>
                                </span>
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                            <div class="card card-statistics">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <i class="mdi mdi-cube text-danger icon-lg"></i>
                                        </div>
                                        <div class="float-right">
                                            <p class="mb-0 text-right">Current College</p>
                                            <div class="fluid-container">
                                                <h3 class="font-weight-medium text-right mb-0">$65,650</h3>
                                            </div>
                                        </div>
                                    </div>
                                    @*<p class="text-muted mt-3 mb-0">
                                            <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 65% lower growth
                                        </p>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                            <div class="card card-statistics">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <i class="mdi mdi-receipt text-warning icon-lg"></i>
                                        </div>
                                        <div class="float-right">
                                            <p class="mb-0 text-right">Current Sem</p>
                                            <div class="fluid-container">
                                                <h3 class="font-weight-medium text-right mb-0">3455</h3>
                                            </div>
                                        </div>
                                    </div>
                                    @*<p class="text-muted mt-3 mb-0">
                                            <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Product-wise sales
                                        </p>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                            <div class="card card-statistics">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <i class="mdi mdi-poll-box text-success icon-lg"></i>
                                        </div>
                                        <div class="float-right">
                                            <p class="mb-0 text-right">Department</p>
                                            <div class="fluid-container">
                                                <h3 class="font-weight-medium text-right mb-0">5693</h3>
                                            </div>
                                        </div>
                                    </div>
                                    @*<p class="text-muted mt-3 mb-0">
                                            <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> Weekly Sales
                                        </p>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                            <div class="card card-statistics">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <i class="mdi mdi-account-location text-info icon-lg"></i>
                                        </div>
                                       <div class="float-none">
                                            <p class="mb-0 text-right">University Joining Date:</p><br />
                                            <div class="fluid-container">
                                                <h3 class="font-weight-medium text-right mb-0">246</h3>
                                            </div>
                                        </div>
                                    </div>
                                    @*<p class="text-muted mt-3 mb-0">
                                            <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Product-wise sales
                                        </p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
                            <div class="card card-statistics">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h1>My Subjects</h1>
                                    </div>
                                    <hr />
                                    <div class="details">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            #
                                                        </th>
                                                        <th>
                                                            Subject Code
                                                        </th>
                                                        <th>
                                                            Subject Name
                                                        </th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            1
                                                        </td>
                                                        <td>
                                                            MATH-1
                                                        </td>
                                                        <td>
                                                            @*<div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>*@
                                                            Mathematics -1
                                                        </td>
                                                     
                                                      
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            2
                                                        </td>
                                                        <td>
                                                            DSA
                                                        </td>
                                                        <td>
                                                            @*<div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>*@
                                                            Data Structures
                                                        </td>
                                                      
                                                    </tr>
                                              

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-lg-7 grid-margin stretch-card">
                                <!--weather card-->
                                <div class="card card-weather">
                                    <div class="card-body">
                                        <div class="weather-date-location">
                                            <h3>Monday</h3>
                                            <p class="text-gray">
                                                <span class="weather-date">25 October, 2016</span>
                                                <span class="weather-location">London, UK</span>
                                            </p>
                                        </div>
                                        <div class="weather-data d-flex">
                                            <div class="mr-auto">
                                                <h4 class="display-3">
                                                    21
                                                    <span class="symbol">&deg;</span>C
                                                </h4>
                                                <p>
                                                    Mostly Cloudy
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="d-flex weakly-weather">
                                            <div class="weakly-weather-item">
                                                <p class="mb-0">
                                                    Sun
                                                </p>
                                                <i class="mdi mdi-weather-cloudy"></i>
                                                <p class="mb-0">
                                                    30°
                                                </p>
                                            </div>
                                            <div class="weakly-weather-item">
                                                <p class="mb-1">
                                                    Mon
                                                </p>
                                                <i class="mdi mdi-weather-hail"></i>
                                                <p class="mb-0">
                                                    31°
                                                </p>
                                            </div>
                                            <div class="weakly-weather-item">
                                                <p class="mb-1">
                                                    Tue
                                                </p>
                                                <i class="mdi mdi-weather-partlycloudy"></i>
                                                <p class="mb-0">
                                                    28°
                                                </p>
                                            </div>
                                            <div class="weakly-weather-item">
                                                <p class="mb-1">
                                                    Wed
                                                </p>
                                                <i class="mdi mdi-weather-pouring"></i>
                                                <p class="mb-0">
                                                    30°
                                                </p>
                                            </div>
                                            <div class="weakly-weather-item">
                                                <p class="mb-1">
                                                    Thu
                                                </p>
                                                <i class="mdi mdi-weather-pouring"></i>
                                                <p class="mb-0">
                                                    29°
                                                </p>
                                            </div>
                                            <div class="weakly-weather-item">
                                                <p class="mb-1">
                                                    Fri
                                                </p>
                                                <i class="mdi mdi-weather-snowy-rainy"></i>
                                                <p class="mb-0">
                                                    31°
                                                </p>
                                            </div>
                                            <div class="weakly-weather-item">
                                                <p class="mb-1">
                                                    Sat
                                                </p>
                                                <i class="mdi mdi-weather-snowy"></i>
                                                <p class="mb-0">
                                                    32°
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--weather card ends-->
                            </div>
                            <div class="col-lg-5 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="card-title text-primary mb-5">Performance History</h2>
                                        <div class="wrapper d-flex justify-content-between">
                                            <div class="side-left">
                                                <p class="mb-2">The best performance</p>
                                                <p class="display-3 mb-4 font-weight-light">+45.2%</p>
                                            </div>
                                            <div class="side-right">
                                                <small class="text-muted">2017</small>
                                            </div>
                                        </div>
                                        <div class="wrapper d-flex justify-content-between">
                                            <div class="side-left">
                                                <p class="mb-2">Worst performance</p>
                                                <p class="display-3 mb-5 font-weight-light">-35.3%</p>
                                            </div>
                                            <div class="side-right">
                                                <small class="text-muted">2015</small>
                                            </div>
                                        </div>
                                        <div class="wrapper">
                                            <div class="d-flex justify-content-between">
                                                <p class="mb-2">Sales</p>
                                                <p class="mb-2 text-primary">88%</p>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 88%" aria-valuenow="88"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="wrapper mt-4">
                                            <div class="d-flex justify-content-between">
                                                <p class="mb-2">Visits</p>
                                                <p class="mb-2 text-success">56%</p>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: 56%" aria-valuenow="56"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 grid-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row d-none d-sm-flex mb-4">
                                            <div class="col-4">
                                                <h5 class="text-primary">Unique Visitors</h5>
                                                <p>34657</p>
                                            </div>
                                            <div class="col-4">
                                                <h5 class="text-primary">Bounce Rate</h5>
                                                <p>45673</p>
                                            </div>
                                            <div class="col-4">
                                                <h5 class="text-primary">Active session</h5>
                                                <p>45673</p>
                                            </div>
                                        </div>
                                        <div class="chart-container">
                                            <canvas id="dashboard-area-chart" height="80"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 grid-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Orders</h4>
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            #
                                                        </th>
                                                        <th>
                                                            First name
                                                        </th>
                                                        <th>
                                                            Progress
                                                        </th>
                                                        <th>
                                                            Amount
                                                        </th>
                                                        <th>
                                                            Sales
                                                        </th>
                                                        <th>
                                                            Deadline
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="font-weight-medium">
                                                            1
                                                        </td>
                                                        <td>
                                                            Herman Beck
                                                        </td>
                                                        <td>
                                                            <div class="progress">
                                                                <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                                                                     aria-valuemax="100"></div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            $ 77.99
                                                        </td>
                                                        <td class="text-danger">
                                                            53.64%
                                                            <i class="mdi mdi-arrow-down"></i>
                                                        </td>
                                                        <td>
                                                            May 15, 2015
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="font-weight-medium">
                                                            2
                                                        </td>
                                                        <td>
                                                            Messsy Adam
                                                        </td>
                                                        <td>
                                                            <div class="progress">
                                                                <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                                                                     aria-valuemax="100"></div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            $245.30
                                                        </td>
                                                        <td class="text-success">
                                                            24.56%
                                                            <i class="mdi mdi-arrow-up"></i>
                                                        </td>
                                                        <td>
                                                            July 1, 2015
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="font-weight-medium">
                                                            3
                                                        </td>
                                                        <td>
                                                            John Richards
                                                        </td>
                                                        <td>
                                                            <div class="progress">
                                                                <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                                                                     aria-valuemax="100"></div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            $138.00
                                                        </td>
                                                        <td class="text-danger">
                                                            28.76%
                                                            <i class="mdi mdi-arrow-down"></i>
                                                        </td>
                                                        <td>
                                                            Apr 12, 2015
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="font-weight-medium">
                                                            4
                                                        </td>
                                                        <td>
                                                            Peter Meggik
                                                        </td>
                                                        <td>
                                                            <div class="progress">
                                                                <div class="progress-bar bg-primary progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                                     aria-valuemax="100"></div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            $ 77.99
                                                        </td>
                                                        <td class="text-danger">
                                                            53.45%
                                                            <i class="mdi mdi-arrow-down"></i>
                                                        </td>
                                                        <td>
                                                            May 15, 2015
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="font-weight-medium">
                                                            5
                                                        </td>
                                                        <td>
                                                            Edward
                                                        </td>
                                                        <td>
                                                            <div class="progress">
                                                                <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0"
                                                                     aria-valuemax="100"></div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            $ 160.25
                                                        </td>
                                                        <td class="text-success">
                                                            18.32%
                                                            <i class="mdi mdi-arrow-up"></i>
                                                        </td>
                                                        <td>
                                                            May 03, 2015
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="font-weight-medium">
                                                            6
                                                        </td>
                                                        <td>
                                                            Henry Tom
                                                        </td>
                                                        <td>
                                                            <div class="progress">
                                                                <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
                                                                     aria-valuemax="100"></div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            $ 150.00
                                                        </td>
                                                        <td class="text-danger">
                                                            24.67%
                                                            <i class="mdi mdi-arrow-down"></i>
                                                        </td>
                                                        <td>
                                                            June 16, 2015
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 grid-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title mb-4">Manage Tickets</h5>
                                        <div class="fluid-container">
                                            <div class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3">
                                                <div class="col-md-1">
                                                    <img class="img-sm rounded-circle mb-4 mb-md-0" src="~/Content/Theme_Files/images/faces/face1.jpg" alt="profile image">
                                                </div>
                                                <div class="ticket-details col-md-9">
                                                    <div class="d-flex">
                                                        <p class="text-dark font-weight-semibold mr-2 mb-0 no-wrap">James :</p>
                                                        <p class="text-primary mr-1 mb-0">[#23047]</p>
                                                        <p class="mb-0 ellipsis">Donec rutrum congue leo eget malesuada.</p>
                                                    </div>
                                                    <p class="text-gray ellipsis mb-2">
                                                        Donec rutrum congue leo eget malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim
                                                        vivamus.
                                                    </p>
                                                    <div class="row text-gray d-md-flex d-none">
                                                        <div class="col-4 d-flex">
                                                            <small class="mb-0 mr-2 text-muted text-muted">Last responded :</small>
                                                            <small class="Last-responded mr-2 mb-0 text-muted text-muted">3 hours ago</small>
                                                        </div>
                                                        <div class="col-4 d-flex">
                                                            <small class="mb-0 mr-2 text-muted text-muted">Due in :</small>
                                                            <small class="Last-responded mr-2 mb-0 text-muted text-muted">2 Days</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ticket-actions col-md-2">
                                                    <div class="btn-group dropdown">
                                                        <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            Manage
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fa fa-reply fa-fw"></i>Quick reply
                                                            </a>
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fa fa-history fa-fw"></i>Another action
                                                            </a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fa fa-check text-success fa-fw"></i>Resolve Issue
                                                            </a>
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fa fa-times text-danger fa-fw"></i>Close Issue
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3">
                                                <div class="col-md-1">
                                                    <img class="img-sm rounded-circle mb-4 mb-md-0" src="~/Content/Theme_Files/images/faces/face2.jpg" alt="profile image">
                                                </div>
                                                <div class="ticket-details col-md-9">
                                                    <div class="d-flex">
                                                        <p class="text-dark font-weight-semibold mr-2 mb-0 no-wrap">Stella :</p>
                                                        <p class="text-primary mr-1 mb-0">[#23135]</p>
                                                        <p class="mb-0 ellipsis">Curabitur aliquet quam id dui posuere blandit.</p>
                                                    </div>
                                                    <p class="text-gray ellipsis mb-2">
                                                        Pellentesque in ipsum id orci porta dapibus. Sed porttitor lectus nibh. Curabitur non nulla sit amet
                                                        nisl.
                                                    </p>
                                                    <div class="row text-gray d-md-flex d-none">
                                                        <div class="col-4 d-flex">
                                                            <small class="mb-0 mr-2 text-muted">Last responded :</small>
                                                            <small class="Last-responded mr-2 mb-0 text-muted">3 hours ago</small>
                                                        </div>
                                                        <div class="col-4 d-flex">
                                                            <small class="mb-0 mr-2 text-muted">Due in :</small>
                                                            <small class="Last-responded mr-2 mb-0 text-muted">2 Days</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ticket-actions col-md-2">
                                                    <div class="btn-group dropdown">
                                                        <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            Manage
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fa fa-reply fa-fw"></i>Quick reply
                                                            </a>
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fa fa-history fa-fw"></i>Another action
                                                            </a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fa fa-check text-success fa-fw"></i>Resolve Issue
                                                            </a>
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fa fa-times text-danger fa-fw"></i>Close Issue
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ticket-card mt-3">
                                                <div class="col-md-1">
                                                    <img class="img-sm rounded-circle mb-4 mb-md-0" src="~/Content/Theme_Files/images/faces/face3.jpg" alt="profile image">
                                                </div>
                                                <div class="ticket-details col-md-9">
                                                    <div class="d-flex">
                                                        <p class="text-dark font-weight-semibold mr-2 mb-0 no-wrap">John Doe :</p>
                                                        <p class="text-primary mr-1 mb-0">[#23246]</p>
                                                        <p class="mb-0 ellipsis">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar.</p>
                                                    </div>
                                                    <p class="text-gray ellipsis mb-2">Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor risus. Lorem ipsum dolor sit amet.</p>
                                                    <div class="row text-gray d-md-flex d-none">
                                                        <div class="col-4 d-flex">
                                                            <small class="mb-0 mr-2 text-muted">Last responded :</small>
                                                            <small class="Last-responded mr-2 mb-0 text-muted">3 hours ago</small>
                                                        </div>
                                                        <div class="col-4 d-flex">
                                                            <small class="mb-0 mr-2 text-muted">Due in :</small>
                                                            <small class="Last-responded mr-2 mb-0 text-muted">2 Days</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ticket-actions col-md-2">
                                                    <div class="btn-group dropdown">
                                                        <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            Manage
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fa fa-reply fa-fw"></i>Quick reply
                                                            </a>
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fa fa-history fa-fw"></i>Another action
                                                            </a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fa fa-check text-success fa-fw"></i>Resolve Issue
                                                            </a>
                                                            <a class="dropdown-item" href="#">
                                                                <i class="fa fa-times text-danger fa-fw"></i>Close Issue
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                            Copyright © 2018
                            <a href="" target="_blank">StudentInfoSystem</a>. All rights reserved.
                        </span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                            Developed by Shubham & Company
                            <i class="mdi mdi-heart text-danger"></i>
                        </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    @*<script src="vendors/js/vendor.bundle.base.js"></script>
        <script src="vendors/js/vendor.bundle.addons.js"></script>*@

    <script src="~/Content/Theme_Files/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Content/Theme_Files/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    @*<script src="js/off-canvas.js"></script>
        <script src="js/misc.js"></script>*@
    <script src="~/Content/Theme_Files/js/misc.js"></script>
    <script src="~/Content/Theme_Files/js/off-canvas.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/Content/Theme_Files/js/dashboard.js"></script>
    <!-- End custom js for this page-->
</body>
</html>


