﻿@model EntitesViewModel.StudentDetailViewModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin Free Bootstrap Admin Dashboard Template</title>
    <!-- plugins:css -->
    @*<link rel="stylesheet" href="vendors/iconfonts/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
        <link rel="stylesheet" href="vendors/css/vendor.bundle.addons.css">*@

    <link rel="stylesheet" href="~/Content/Theme_Files/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Content/Theme_Files/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Content/Theme_Files/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/Theme_Files/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Content/Theme_Files/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <a class="" href="index.html">
                    <img src="~/Content/Theme_Files/images/logo.svg" alt="logo" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="index.html">
                    <img src="~/Content/Theme_Files/images/logo-mini.svg" alt="logo" />
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <h4>Home</h4>
                            @*<span class="badge badge-primary ml-1">New</span>*@
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <h4>Add Students</h4>
                            @*<span class="badge badge-primary ml-1">New</span>*@
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <h4>View Students</h4>
                            @*<span class="badge badge-primary ml-1">New</span>*@
                        </a>
                    </li>
                    @*<li class="nav-item">
                            <a href="#" class="nav-link">
                                <h4>View Colleges</h4>
                                <span class="badge badge-primary ml-1">New</span>
                            </a>
                        </li>*@

                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown">
                        @*<a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-file-document-box"></i>
                                <span class="count">7</span>
                            </a>*@
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                            @*<div class="dropdown-item">
                                    <p class="mb-0 font-weight-normal float-left">
                                        You have 7 unread mails
                                    </p>
                                    <span class="badge badge-info badge-pill float-right">View all</span>
                                </div>*@
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/Content/Theme_Files/images/faces/face4.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium text-dark">
                                        David Grey
                                        <span class="float-right font-weight-light small-text">1 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        The meeting is cancelled
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/Content/Theme_Files/images/faces/face2.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium text-dark">
                                        Tim Cook
                                        <span class="float-right font-weight-light small-text">15 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        New product launch
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="~/Content/Theme_Files/images/faces/face3.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium text-dark">
                                        Johnson
                                        <span class="float-right font-weight-light small-text">18 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        Upcoming board meeting
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        @*<a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                                <i class="mdi mdi-bell"></i>
                                <span class="count">4</span>
                            </a>*@
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                            <a class="dropdown-item">
                                <p class="mb-0 font-weight-normal float-left">
                                    You have 4 new notifications
                                </p>
                                <span class="badge badge-pill badge-warning float-right">View all</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-success">
                                        <i class="mdi mdi-alert-circle-outline mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-medium text-dark">Application Error</h6>
                                    <p class="font-weight-light small-text">
                                        Just now
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-warning">
                                        <i class="mdi mdi-comment-text-outline mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-medium text-dark">Settings</h6>
                                    <p class="font-weight-light small-text">
                                        Private message
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-info">
                                        <i class="mdi mdi-email-outline mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-medium text-dark">New user registration</h6>
                                    <p class="font-weight-light small-text">
                                        2 days ago
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-none d-xl-inline-block">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <span class="profile-text">Hello, Shubham Dhanetia !</span>
                            @*<img class="img-xs rounded-circle" src="~/Content/Theme_Files/images/student.jpg" alt="Profile image">*@
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            <a class="dropdown-item p-0">
                                <div class="d-flex border-bottom">
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                        <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                                    </div>
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                                        <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                                    </div>
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                        <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item mt-2">
                                Manage Accounts
                            </a>
                            <a class="dropdown-item">
                                Change Password
                            </a>
                            <a class="dropdown-item">
                                Check Inbox
                            </a>
                            <a class="dropdown-item">
                                Sign Out
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <div class="nav-link">
                            <div class="user-wrapper">
                                @*<div class="profile-image">
                                        <img src="~/Content/Theme_Files/images/student.jpg" alt="profile image">
                                    </div>*@
                                <div class="text-wrapper">
                                    <p class="profile-name">Shubham Dhanetia</p>
                                    <div>
                                        <small class="designation text-muted">Admin</small>
                                        <span class="status-indicator online"></span>
                                    </div>
                                </div>
                            </div>
                            @*<button class="btn btn-success btn-block">
                                    New Project
                                    <i class="mdi mdi-plus"></i>
                                </button>*@
                        </div>
                    </li>
                    <li class="nav-item" style="">
                        <a class="nav-link" href="/Admin/Index">
                            <i class="menu-icon mdi mdi-television"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" href="/Student/ViewHistory">
                                <i class="menu-icon mdi mdi-history"></i>
                                <span class="menu-title">View Colleges</span>
                            </a>
                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/ViewStudents">
                            <i class="menu-icon mdi mdi-settings"></i>
                            <span class="menu-title">View Students</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Student/ChangePassword">
                            <i class="menu-icon mdi mdi-settings"></i>
                            <span class="menu-title" style="color:orangered;font-weight:bold">Add Student</span>
                        </a>
                    </li>

                    @*<li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                                <i class="menu-icon mdi mdi-content-copy"></i>
                                <span class="menu-title">Basic UI Elements</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="ui-basic">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
                                    </li>
                                </ul>
                            </div>
                        </li>*@
                  @*  <li class="nav-item">
                        <a class="nav-link" href="pages/forms/basic_elements.html">
                            <i class="menu-icon mdi mdi-inbox"></i>
                            <span class="menu-title">Inbox</span>
                        </a>
                    </li>*@

                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @*<div class="row purchace-popup">
                            <div class="col-12">
                                <span class="d-flex alifn-items-center">
                                    <p>Like what you see? Check out our premium version for more.</p>
                                    <a href="https://github.com/BootstrapDash/StarAdmin-Free-Bootstrap-Admin-Template" target="_blank" class="btn ml-auto download-button">Download Free Version</a>
                                    <a href="https://www.bootstrapdash.com/product/star-admin-pro/" target="_blank" class="btn purchase-button">Upgrade To Pro</a>
                                    <i class="mdi mdi-close popup-dismiss"></i>
                                </span>
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                            <div class="card card-statistics">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <i class="mdi mdi-cube text-danger icon-lg"></i>
                                        </div>
                                        <div class="float-none">
                                            <p class="mb-0 text-right">University Name</p><br />
                                            <div class="fluid-container">
                                                <h3 class="font-weight-medium text-right mb-0">Dharmsinh Desai University</h3>
                                            </div>
                                        </div>

                                    </div>
                                    @*<p class="text-muted mt-3 mb-0">
                                            <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 65% lower growth
                                        </p>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                            <div class="card card-statistics">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <i class="mdi mdi-receipt text-warning icon-lg"></i>
                                        </div>
                                        <div class="float-none">
                                            <p class="mb-0 text-right">Number of Colleges</p><br />
                                            <div class="fluid-container">
                                                <h3 class="font-weight-medium text-right mb-0">3455</h3>
                                            </div>
                                        </div>
                                    </div>
                                    @*<p class="text-muted mt-3 mb-0">
                                            <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Product-wise sales
                                        </p>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                            <div class="card card-statistics">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <i class="mdi mdi-poll-box text-success icon-lg"></i>
                                        </div>
                                        <div class="float-none">
                                            <p class="mb-0 text-right">No of Students</p><br />
                                            <div class="fluid-container">
                                                <h3 class="font-weight-medium text-right mb-0">5693</h3>
                                            </div>
                                        </div>
                                    </div>
                                    @*<p class="text-muted mt-3 mb-0">
                                            <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> Weekly Sales
                                        </p>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                            <div class="card card-statistics">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <i class="mdi mdi-account-location text-info icon-lg"></i>
                                        </div>
                                        <div class="float-none">
                                            <p class="mb-0 text-right">Founder Name</p><br />
                                            <div class="fluid-container">
                                                <h3 class="font-weight-medium text-right mb-0">Dr. Dharmsinh Desai</h3>
                                            </div>
                                        </div>
                                    </div>
                                    @*<p class="text-muted mt-3 mb-0">
                                            <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Product-wise sales
                                        </p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 grid-margin stretch-card">
                            <div class="card card-statistics">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h1>Add Student</h1>
                                    </div>
                                    <hr />
                                    <div class="details">
                                        @using (Html.BeginForm("AddStudent", "Admin", FormMethod.Post, new { @class = "forms-sample" }))
                                        {
                                            <p class="card-description">
                                                Personal info
                                            </p>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">First Name</label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(p=>p.Student.student_firstname, new { @class = "form-control",@required  = "required",@placeholder="Enter First Name" })
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Middle Name</label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(x => x.Student.student_middlename, new { @class = "form-control",@required  = "required",@placeholder="Enter Middle Name" })
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Last Name</label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(x => x.Student.student_lastname, new { @class = "form-control",@required  = "required",@placeholder="Enter Last Name" })
                                                           

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Date of Birth</label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(x => x.Student.student_dateofbirth, new { @class = "form-control",@required  = "required",@placeholder="Enter Date of Birth",@type="date" })
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Gender</label>
                                                        <div class="col-sm-9">
                                                            @{
                                                               List<SelectListItem> listItems= new List<SelectListItem>();
                                                               listItems.Add(new SelectListItem
                                                                    {
                                                                      Text = "Male",
                                                                      Value = "Male"
                                                                    });
                                                               listItems.Add(new SelectListItem
                                                                    {
                                                                        Text = "Female",
                                                                        Value = "Female"
                                                                       
                                                                    });
  
                                                            }
                                                            @Html.DropDownListFor(model => model.Student.student_gender, listItems, "-- Select Gender --",htmlAttributes: new { @class = "form-control",@required="required" })

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Email</label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(x => x.Student.student_email, new { @class = "form-control",@required  = "required",@placeholder="Enter Email",@type="email" })
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Mobile Number (+91)</label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(x => x.Student.student_phone, new { @class = "form-control",@required  = "required",@placeholder="Enter Phone Number" })
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Street Address</label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(x => x.Student.student_address, new { @class = "form-control",@required  = "required",@placeholder="Enter your Address" })
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">City</label>
                                                        <div class="col-sm-9">
                                                           
                                                            @Html.DropDownListFor(model=>model.Student.city_id, ViewBag.city_id as SelectList,"Select City", htmlAttributes: new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">State</label>
                                                        <div class="col-sm-9">
                                                            @Html.DropDownListFor(model=>model.Student.state_id, ViewBag.state_id as SelectList,"Select State", htmlAttributes: new { @class = "form-control" })
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Semester No.</label>
                                                        <div class="col-sm-9">
                                                            
                                                           @Html.DropDownListFor(model=>model.StudentHistory.sem_id, ViewBag.sem_id as SelectList,"Select Semester", htmlAttributes: new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Department</label>
                                                        <div class="col-sm-9">
                                                            
                                                            @Html.DropDownListFor(model=>model.StudentHistory.department_id, ViewBag.department_id as SelectList,"Select Department", htmlAttributes: new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                           
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">College</label>
                                                        <div class="col-sm-9">
                                                            
                                                           @Html.DropDownListFor(model=>model.StudentHistory.college_id, ViewBag.college_id as SelectList,"Select College", htmlAttributes: new { @class = "form-control" })
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Enrollment Date</label>
                                                        <div class="col-sm-9">                                                            
                                                        @Html.TextBoxFor(x => x.Student.student_dateofjoining, new { @class = "form-control",@required  = "required",@placeholder="Enter Enrollment Date",@type="date" })
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            
                                              <div class="row">
                                           
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Role Type</label>
                                                        <div class="col-sm-9">
                                                            
                                                           @Html.DropDownListFor(model=>model.role_id, ViewBag.role_id as SelectList,"Select Role", htmlAttributes: new { @class = "form-control" })
                                                        </div>
                                                    </div>

                                                </div>
                                     
                                            </div>
                                            
                                            @*<p class="card-description">
                                                    Address
                                                </p>*@
                                        
                                            <div class="text-center">
                                                <button type="submit" value="submit" class="btn btn-success">Add Student</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                            Copyright © 2018
                            <a href="#" target="_blank">StudentInfoSystem</a>.
                        </span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                            Developed by Shubham & Company
                            <i class="mdi mdi-heart text-danger"></i>
                        </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    @*<script src="vendors/js/vendor.bundle.base.js"></script>
        <script src="vendors/js/vendor.bundle.addons.js"></script>*@

    <script src="~/Content/Theme_Files/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Content/Theme_Files/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    @*<script src="js/off-canvas.js"></script>
        <script src="js/misc.js"></script>*@
    <script src="~/Content/Theme_Files/js/misc.js"></script>
    <script src="~/Content/Theme_Files/js/off-canvas.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/Content/Theme_Files/js/dashboard.js"></script>
    <!-- End custom js for this page-->
</body>
</html>


