﻿@model EntitesViewModel.StudentDetailViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("AddStudent", "Admin", FormMethod.Post, new { @class = "forms-sample" })){
                                            <p class="card-description">
                                                Personal info
                                            </p>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">First Name</label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(p=>p.Student.student_firstname, new { @class = "form-control",@required  = "required",@placeholder="Enter First Name" })
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Middle Name</label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(x => x.Student.student_middlename, new { @class = "form-control",@required  = "required",@placeholder="Enter Middle Name" })
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Last Name</label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(x => x.Student.student_lastname, new { @class = "form-control",@required  = "required",@placeholder="Enter Last Name" })
                                                           

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Date of Birth</label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(x => x.Student.student_dateofbirth, new { @class = "form-control",@required  = "required",@placeholder="Enter Date of Birth",@type="Date" })
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Gender</label>
                                                        <div class="col-sm-9">
                                                            @{
                                                               List<SelectListItem> listItems= new List<SelectListItem>();
                                                               listItems.Add(new SelectListItem
                                                                    {
                                                                      Text = "Male",
                                                                      Value = "Male"
                                                                    });
                                                               listItems.Add(new SelectListItem
                                                                    {
                                                                        Text = "Female",
                                                                        Value = "Female"
                                                                       
                                                                    });
  
                                                            }
                                                            @Html.DropDownListFor(model => model.Student.student_gender, listItems, "-- Select Gender --",htmlAttributes: new { @class = "form-control",@required="required" })

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Email</label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(x => x.Student.student_email, new { @class = "form-control",@required  = "required",@placeholder="Enter Email",@type="email" })
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Mobile Number (+91)</label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(x => x.Student.student_phone, new { @class = "form-control",@required  = "required",@placeholder="Enter Phone Number" })
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Street Address</label>
                                                        <div class="col-sm-9">
                                                            @Html.TextBoxFor(x => x.Student.student_address, new { @class = "form-control",@required  = "required",@placeholder="Enter your Address" })
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">City</label>
                                                        <div class="col-sm-9">
                                                           
                                                            @Html.DropDownListFor(model=>model.Student.city_id, ViewBag.city_id as SelectList,"Select City", htmlAttributes: new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">State</label>
                                                        <div class="col-sm-9">
                                                            @Html.DropDownListFor(model=>model.Student.state_id, ViewBag.state_id as SelectList,"Select State", htmlAttributes: new { @class = "form-control" })
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Semester No.</label>
                                                        <div class="col-sm-9">
                                                            
                                                           @Html.DropDownListFor(model=>model.StudentHistory.sem_id, ViewBag.sem_id as SelectList,"Select Semester", htmlAttributes: new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">Department</label>
                                                        <div class="col-sm-9">
                                                            
                                                            @Html.DropDownListFor(model=>model.StudentHistory.department_id, ViewBag.department_id as SelectList,"Select Department", htmlAttributes: new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                           
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label">College</label>
                                                        <div class="col-sm-9">
                                                            
                                                           @Html.DropDownListFor(model=>model.StudentHistory.college_id, ViewBag.college_id as SelectList,"Select College", htmlAttributes: new { @class = "form-control" })
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            @*<p class="card-description">
                                                    Address
                                                </p>*@
                                        
                                            <div class="text-center">
                                                <button type="submit" value="submit" class="btn btn-success">Add Student</button>
                                            </div>
                                        }
        
    </div>
</body>
</html>
