﻿@model EntitesViewModel.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/LoginFiles/css/style.css">
    <script src="~/Content/LoginFiles/js/script.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Login Portal</title>
</head>
<body>
    <div>
        <div class="login-page">
  <div class="form">

  
    <form class="login-form">
        <p class="text-center" style="color:maroon;font-weight:bold;">Student Information System</p>
      <input type="email" placeholder="Email" required/>
      <input type="password" placeholder="Password" required/>
      <button>login</button>
      @*<p class="message">Not registered? <a href="#">Create an account</a></p>*@
    </form>
  </div>
</div>
        
    </div>
</body>
</html>
